@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: inherit;
}

:root {
  --clr-primary: hsl(158, 36%, 37%);
  --clr-cream: hsl(30, 38%, 92%);
  --clr-dark-blue: hsl(212, 21%, 14%);
  --clr-grayish-blue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);

  --font-size: 14px;

  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Fraunces', serif;
}
